<html>

<head>
    <header>"TODO LIST"</header>
    <title>"TODO LIST"</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="todoApp">
        <h3> {{message}} </h3>
        <form name="todo-form" method="post" action="" v-on:submit.prevent="addTodo">
            <input name="add-todo" type="text" v-model="addTodoInput" placeholder="Enter Task"/>

            <button type="submit">Add</button>
        </form>

        <div class="todo-lists" >
            <h3>My Todo Tasks</h3>
            <ul>
                <li v-for="list in lists" :key="list.id">
                    <span class="title">{{list.title}}</span>
                </li>
            </ul>
        </div>

    </div>
    <script>
        var todoApp = new Vue({
            el: '#todoApp',
            data: {
                message: 'Welcome to Todo App',
                addTodoInput: '',
                lists: [],
            },
            methods: {
                addTodo: function () {

                    this.lists.push({
                        id: this.lists.length + 1,
                        title: this.addTodoInput,
                        isComplete: false
                    });

                    this.addTodoInput = '';
                }
            }
        })
    </script>
</body>

</html>