<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School activities</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<style>
  body {
    background-image: url("images/background.jpg"), url();
    background-repeat: repeat-y;
    background-color: #cccccc;
  }

  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  .text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
    text-decoration-style: wavy;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
  }
</style>

<form class="text1" id="app" @submit="checkForm" method="post">
  <!--Divs with logo, login button and register button-->
  <div style="display: flex; justify-content: flex-end ">
    <img src="images/logo.png" alt="" srcset="" width="240pt ">
  </div>

  <div style="display: flex; justify-content: flex-end; padding: 5px; " v-if="isHidden" v-if="!login_hide">
    <img src="images/login.jpg" alt="" srcset="" style="width:100px;height:40px;" v-on:click="isHidden = !isHidden">
      <!-- div for login -->
  </div>
    <div  v-if="!isHidden"> <br>
      <span>{{userType_id}}</span>
      <span>{{ login_id }}</span> <br>
    <p>
      <label for="email">Email</label>
      <input id="email" v-model="email" type="email" name="email"> <br>
      <label for="password">Password</label>
      <input id="password" v-model="password" type="password" name="password" min="4"> <BR>
      <button @click="checkLogin">LOG IN</button>
      
    </p>
  </div>

  <div style="display: flex; justify-content: flex-end; padding: 5px; " v-if="!login_hide" v-on:click="login_hide = true" >
    <img src="images/register.png" alt="" srcset="" style="width:100px;height:40px;" v-if="isHidden">
  </div>
  <!-- Register form -->
  <p v-if="errors.length">
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
  <div id="myDiv" v-if="login_hide">
    <p>
      <label for="user_type">User Type</label>
      <select id="user_type" v-model="user_type" name="user_type">
        <option>Pupil</option>
        <option>Parent</option>
        <option>Service Provider</option>
      </select>
    </p>

    <p>
      <label for="email">Email</label>
      <input id="email" v-model="email" type="email" name="email">
    </p>
    <p>
      <label for="name">Name</label>
      <input id="name" v-model="name" type="text" name="name">
    </p>

    <p>
      <label for="age">Age</label>
      <input id="age" v-model="age" type="number" name="age" min="0">
    </p>
    <p>
      <label for="password">Password</label>
      <input id="password" v-model="password" type="password" name="password" min="4">
    </p>

    <p class="text1">
      <input type="submit" value="REGISTER">
    </p>
  </div>
  <!-- here the register form ends -->
  </div>
</form>

<script>
  const email_key = 'email';
  const name_key = 'name';
  const age_key = 'age';
  const password_key = 'password';
  const user_type_key = 'user_type';
  const app = new Vue({
    el: '#app',
    data: {
      errors: [],
      name: null,
      age: null,
      user_type: null,
      password: null,
      email: null,
      isHidden: true,
      login_hide: false,
      login_id: "Login" ,
      userType_id : ""
    },
    methods: {
      checkForm: function (e) {
        this.errors = [];
        if (!this.email) {
          this.errors.push('Email required.');
        }

        if (!this.name) {
          this.errors.push('Name required.');
        }

        if (!this.age) {
          this.errors.push('Age required.');

        }
        if (this.email == JSON.parse(localStorage.getItem(email_key))) {
          this.errors.push('Email used before.');
          e.preventDefault();

        }
        if (this.password <= 4) {
          this.errors.push('Password too short.');
        }
        if (this.email != JSON.parse(localStorage.getItem(email_key))) {
          localStorage.setItem(email_key, JSON.stringify(this.email));
          localStorage.setItem(name_key, JSON.stringify(this.name));
          localStorage.setItem(age_key, JSON.stringify(this.age));
          localStorage.setItem(password_key, JSON.stringify(this.password));
          localStorage.setItem(user_type_key, JSON.stringify(this.user_type));
          var elem = document.getElementById("myDiv");
          elem.parentNode.removeChild(elem);
        }
        return  e.preventDefault();


        e.preventDefault();

      },
      checkLogin(e){
      if (this.email == JSON.parse(localStorage.getItem(email_key))) {
        if (this.password == JSON.parse(localStorage.getItem(password_key))){
          this.login_id = JSON.parse(localStorage.getItem(email_key));
          this.userType_id = JSON.parse(localStorage.getItem(user_type_key));
          e.preventDefault();


        }
      }
      
      }

    }
  })
</script>
<!-- <script>
 const login_form = new Vue({
    el: '#app',
    data: {
      password: null,
      email: null,
      login_id: "Login" 

    },
    methods: {
      checkLogin(){
      if (this.email == JSON.parse(localStorage.getItem(email_key))) {
        if (this.password == JSON.parse(localStorage.getItem(password_key))){
          this.login_id = JSON.parse(localStorage.getItem(email_key));
        }
      }
      
      }
    },
    })
</script> -->
</body>

</html>